* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
    font-family: 'Silkscreen';
}
  
body {
    height: 100vh;
    width: 100vw;
}
  
@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.background {
    height: 100vh; /* Set the height to the full viewport height */
  width: 100%;
  background-image: url("assets/img/background.png");
  background-size: cover;
}
  
.bird {
    object-fit: fill;
    width: 10%;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}
  
.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 100%;
    width: 17%;
    background-image: url("assets/img/pipe1.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
  
.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 5rem; /* Sesuaikan ukuran font sesuai kebutuhan */
    color: black;
    top: 10%; /* Menempatkan elemen di tengah vertikal */
    left: 50%; /* Menempatkan elemen di tengah horizontal */
    transform: translate(-50%, -50%); /* Menggeser elemen ke tengah */
    text-align: center;
}
  
.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 6rem;
    font-weight: 10;
    top: 0;
    margin-left: 2%;
}

.high_score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 4rem; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: 100;
    color: black;
    top: 62%; /* Menempatkan elemen di tengah vertikal */
    left: 50%; /* Menempatkan elemen di tengah horizontal */
    transform: translate(-50%, -50%); /* Menggeser elemen ke tengah */
    text-align: center;
}

.button {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 6rem;
}